@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>Hi, I am Danish Sharma. I am currently in my 6th semester of Computer Programming and Analysis Advanced Diploma at Seneca College.</p>
<p>This is my Assignment 1 for WEB524 (Fall, 2022) course where I will work with the Venue object and will implement some typical use case for the object such as “get all”, “get one”, “add new”, “edit existing” and “delete existing”.</p>
