@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2><br />

<h4>Seneca College (Newnham Campus)</h4>
<address>
    1750 Finch Ave E<br />
    North York<br />
    ON M2J 2X5<br />
    <abbr title="Phone">P:</abbr>
    (416) 491-5050
</address>

<address>
    <strong>Seneca Support:</strong>   <a href="mailto:theservicehub@senecacollege.ca">theservicehub@senecacollege.ca</a><br />
    <strong>Danish Email:</strong> <a href="mailto:dsharma115@myseneca.ca">dsharma115@myseneca.ca</a>
</address>

<p>If there are any questions or concern, please use Danish's email instead of Seneca's support email.</p>