@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 1 - Danish Sharma</h1>
    <p class="lead"> This WEB524 Assignment 1 will focus on use cases for Venue objects. It will implement “get all”, “get one”, “add new”, “edit existing” and “delete existing” for the Venue Object.</p> 
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To use this application, please click on the "Venues" link in the navigation bar. From there you will be able to see a list of venues and be able to try the use cases implemented for the items in the list.
        </p> 
    </div>
    <div class="col-md-4">
        <h2>Joke</h2>
        <p>Knock Knock.....Wait, this joke won't work... </p> 
    </div>
</div>